.App {
  background-image: linear-gradient(#a0d2eb, #e5eaf5, #d0bdf4, #8458B3, #a28089);
}

@media screen and (max-width: 600px){
  @media (prefers-reduced-motion: no-preference){
    .App-logo {
      animation: App-logo-spin-small infinite 20s linear;
      width: 20rem;
      height: 20rem;
      border-radius: 25%;
      text-align: center;
      left: 15%;
      position: relative;
      margin: 0;
    }
  }
  @keyframes App-logo-spin-small {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
    0%   {background-color:#51e2f5; color: #8458B3;}
    25%  {background-color:#edf756; color: #8458B3;}
    50%  {background-color:#a28089; color: #9df9ef;}
    75%  {background-color:#edf756; color: #8458B3;}
    100% {background-color:#51e2f5; color: #8458B3;}
  }
}

@media screen and (min-width: 601px){
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 15s linear;
      width: 300px;
      height: 300px;
      border-radius: 25%;
      text-align: center;
      position: relative;
      margin: 0;
    }
  }
}

.title{
  width: 250px;
  height: 50%;
  top: 25%;
  position: relative;
  left: 10%;
  text-shadow: 1px 1px 2px white, 0 0 0.2em blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0%   {background-color:#51e2f5; color: #8458B3; left:0px; top:0px;}
  10%  {background-color:#9df9ef; color: #8458B3; left:15%; top:0px;}
  20%  {background-color:#edf756; color: #8458B3; left:30%; top:0px;}
  30%  {background-color:#ffa8B6; color: #8458B3; left:45%; top:0px;}
  40% {background-color:#a28089; color: #9df9ef; left:60%; top:0px;}
  50% {background-color:#8458B3; color: #9df9ef; left:75%; top:0px;}
  60%  {background-color:#a28089; color: #9df9ef; left:60%; top:0px;}
  70%  {background-color:#ffa8B6; color: #8458B3; left: 45%; top: 0px;}
  80% {background-color:#edf756; color: #8458B3; left: 30%; top: 0px;}
  90% {background-color:#9df9ef; color: #8458B3; left: 15%; top: 0px;}
  100% {background-color:#51e2f5; color: #8458B3; left:0px; top:0px;}
}
