.footerStyle{
    margin-top: 13rem;
    height: 3.5rem;
    width: 100%;
    background-color: black;
    bottom: 0;
    position: sticky
}
.footerWriting{
    color: white;
    text-align: center;
    margin-bottom: 0%;
}