.navBarTitle{
    text-decoration: none;
    border: none;
    background: none;
    color: #590ea9;
    text-shadow: 1px 1px 2px white, 0 0 0.2em blue;
}

.navBarLinks{
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #590ea9;
    text-shadow: 1px 1px 2px white, 0 0 0.2em blue;
    border: none;
    outline: none;
    padding: 10px 16px;
    background: none;
    cursor: pointer;
}
.active, .navBarLinks:hover{
    background-color: black;
    color: white
}