.Project-div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Project-title{
    text-shadow: 1px 1px 2px white, 0 0 0.2em blue;
}

.Project-writing{
    font-weight: bolder;
    font-size: large;
    color: #9df9ef;
    text-shadow: 1px 1px 2px black;
}

.Project-item{
    float: left;
    width: 45%;
    margin-left: 2rem;
    margin-bottom: 1rem;
    list-style-type: none;
    font-weight: bolder;
    font-size: large;
    color: #9df9ef;
    text-shadow: 1px 1px 2px black;
}

.houseImageBackground{
    /* width: 40rem; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    background: no-repeat;
    background-size: 100%;
    text-align: center;
    /* margin-left: 30%; */
}

.leftArrowButton{
    width: 1.5rem;
    height: 20rem; 
    float: left;
    align-items: center;
    border: none;
    opacity: .5;
    z-index: 15;
}
.leftArrow{
    height: 1rem;
}

.rightArrowButton{
    width: 1.5rem;
    /* height: 20rem;  */
    float: right;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 8px;
    /* margin-top: 50%; */
    opacity: .5;
    z-index: 15;
}
.rightArrow{
    height: 1rem;
}